/* --------------------------------------------------------------------------- */
/* Ajustes base do projeto (edite aqui pequenos ajustes) */
/* Fonte original: assets/css/base.css */
/* --------------------------------------------------------------------------- */
/* Ajustes pequenos do site. Edite aqui antes de mexer no CSS gerado pelo Webflow. */




  * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -o-font-smoothing: antialiased;
}

.swiper-wrapper {
	overflow: visible !important;
}
  



  /*
  .page-wrapper {
    opacity: 0;
    transition: opacity 500ms cubic-bezier(.19, 1, .22, 1);
    will-change: opacity;
  }

  .page-wrapper.visible{
    opacity:1;
  }

  .w-editor .page-wrapper {
    opacity: 1 !important;
  }
  */


.intro_content span.text-weight-bold {
  	margin-left: .35em;
  }

