/* --------------------------------------------------------------------------- */
/* Estilos globais organizados do projeto */
/* Fonte original: assets/css/global.css */
/* --------------------------------------------------------------------------- */
/* Set color style to inherit */
  .inherit-color * {
    color: inherit;
  }

  /* Focus state style for keyboard navigation for the focusable elements */
  *[tabindex]:focus-visible,
  input[type="file"]:focus-visible {
    outline: 0.125rem solid #4d65ff;
    outline-offset: 0.125rem;
  }

  /* Get rid of top margin on first element in any rich text element */
  .w-richtext > :not(div):first-child, .w-richtext > div:first-child > :first-child {
    margin-top: 0 !important;
  }

  /* Get rid of bottom margin on last element in any rich text element */
  .w-richtext>:last-child, .w-richtext ol li:last-child, .w-richtext ul li:last-child {
    margin-bottom: 0 !important;
  }

  /* Prevent all click and hover interaction with an element */
  .pointer-events-off {
    pointer-events: none;
  }

  /* Enables all click and hover interaction with an element */
  .pointer-events-on {
    pointer-events: auto;
  }

  /* Create a class of .div-square which maintains a 1:1 dimension of a div */
  .div-square::after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }

  /* Make sure containers never lose their center alignment */
  .container-medium,.container-small, .container-large {
    margin-right: auto !important;
    margin-left: auto !important;
  }

  /* 
  Make the following elements inherit typography styles from the parent and not have hardcoded values. 
  Important: You will not be able to style for example "All Links" in Designer with this CSS applied.
  Uncomment this CSS to use it in the project. Leave this message for future hand-off.
  */
  /*
  a,
  .w-input,
  .w-select,
  .w-tab-link,
  .w-nav-link,
  .w-dropdown-btn,
  .w-dropdown-toggle,
  .w-dropdown-link {
  color: inherit;
  text-decoration: inherit;
  font-size: inherit;
  }
  */

  /* Apply "..." after 3 lines of text */
  .text-style-3lines {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  /* Apply "..." after 2 lines of text */
  .text-style-2lines {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  /* Adds inline flex display */
  .display-inlineflex {
    display: inline-flex;
  }

  /* These classes are never overwritten */
  .hide {
    display: none !important;
  }

  @media screen and (max-width: 991px) {
    .hide, .hide-tablet {
      display: none !important;
    }
  }
  @media screen and (max-width: 767px) {
    .hide-mobile-landscape{
      display: none !important;
    }
  }
  @media screen and (max-width: 479px) {
    .hide-mobile{
      display: none !important;
    }
  }

  .margin-0 {
    margin: 0rem !important;
  }

  .padding-0 {
    padding: 0rem !important;
  }

  .spacing-clean {
    padding: 0rem !important;
    margin: 0rem !important;
  }

  .margin-top {
    margin-right: 0rem !important;
    margin-bottom: 0rem !important;
    margin-left: 0rem !important;
  }

  .padding-top {
    padding-right: 0rem !important;
    padding-bottom: 0rem !important;
    padding-left: 0rem !important;
  }

  .margin-right {
    margin-top: 0rem !important;
    margin-bottom: 0rem !important;
    margin-left: 0rem !important;
  }

  .padding-right {
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
    padding-left: 0rem !important;
  }

  .margin-bottom {
    margin-top: 0rem !important;
    margin-right: 0rem !important;
    margin-left: 0rem !important;
  }

  .padding-bottom {
    padding-top: 0rem !important;
    padding-right: 0rem !important;
    padding-left: 0rem !important;
  }

  .margin-left {
    margin-top: 0rem !important;
    margin-right: 0rem !important;
    margin-bottom: 0rem !important;
  }

  .padding-left {
    padding-top: 0rem !important;
    padding-right: 0rem !important;
    padding-bottom: 0rem !important;
  }

  .margin-horizontal {
    margin-top: 0rem !important;
    margin-bottom: 0rem !important;
  }

  .padding-horizontal {
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
  }

  .margin-vertical {
    margin-right: 0rem !important;
    margin-left: 0rem !important;
  }

  .padding-vertical {
    padding-right: 0rem !important;
    padding-left: 0rem !important;
  }

  /* Apply "..." at 100% width */
  .truncate-width { 
    width: 100%; 
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
  }
  /* Removes native scrollbar */
  .no-scrollbar, .swiper-wrapper {
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none; 
  }

  .no-scrollbar::-webkit-scrollbar, .swiper-wrapper::-webkit-scrollbar {
    display: none;
  }

  html { font-size: 1rem; }
  @media screen and (max-width:1440px) { html { font-size: calc(0.5991091314031181rem + 0.4454342984409799vw); } }
  @media screen and (max-width:991px) { html { font-size: calc(0.44698660714285715rem + 0.8928571428571428vw); } }
  @media screen and (max-width:767px) { html { font-size: calc(0.6671006944444444rem + 0.6944444444444444vw); } }
  @media screen and (max-width:479px) { html { font-size: calc(0.7494769874476988rem + 0.8368200836820083vw); } }

  .text-rich-text.is-small p {
    font-size: .875rem;
  }

  .w--redirected-checked ~ .filters_form-radio-label {
    color: white;
  }

  .tabs-content {
    transition: grid-template-rows 500ms cubic-bezier(.19, 1, .22, 1);
  }

  .landing-tabs_tabs-link.w--current .tabs-content {
    grid-template-rows: 1fr;
  }

  .timeline_list-item:nth-child(even) .timeline_image-wrapper {
    order: 3;
  }

  .timeline_list-item:nth-child(even) .timeline_item{
    order: 1;
  }

  .team_feed-content-grid-item:hover .team_contact-tag {
    transform: translate(0,0%);
    opacity: 1;
  }

  p > a:not([class]) {
    color: var(--base-color-brand--blue);
  }


  /* SWEVEN Rich Text Utility Styles */
  /* Custom marker as BG Image for Bold Italic li elements in rich text */
  .w-richtext ul li:has(strong em) {
    list-style: none;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxZW0iIGhlaWdodD0iMWVtIiB2aWV3Qm94PSIwIDAgMjQgMjQiPgoJPHBhdGggZmlsbD0iY3VycmVudENvbG9yIiBkPSJtOS41NSAxOGwtNS43LTUuN2wxLjQyNS0xLjQyNUw5LjU1IDE1LjE1bDkuMTc1LTkuMTc1TDIwLjE1IDcuNHoiIC8+Cjwvc3ZnPg==);
    background-repeat: no-repeat;
    background-position: top .25em left -.15em;
    background-size: 1.1em;
    margin-left: -1.5rem;
    padding-left: 1.75rem;
  }

  .w-richtext ul li strong em {
    font-weight: 400 !important;
    font-style: normal !important;
  }

  /* Custom block quote byline for Bold Italic within block quotes. SHFT + line break to not leave the block quote */
  blockquote strong em {
    font-size: 1.15rem;
    font-weight: 500;
    text-transform: uppercase;
    font-style: normal;
    display: inline-block;
    color: inherit;
    letter-spacing: -.02em;
  }

  /* Style rich text p Bold Italics as eyebrow style - adjust to match your site's eyebrow style */
  .w-richtext p strong em {
    font-size: 1.15rem;
    font-weight: 500;
    text-transform: uppercase;
    font-style: normal;
    display: inline-block;
    color: inherit;
    letter-spacing: -.02em;
  }



  /* Style rich text Bold hyperlinks as primary button style - adjust to match your site's button style, it's easiest to copy the css from CSS preview and go from there*/
  .w-richtext a:has(strong) {
    display: flex;
    padding-top: 0.75rem;
    padding-right: 1.5rem;
    padding-bottom: 0.85rem;
    padding-left: 1.5rem;
    justify-content: center;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.5rem;
    border-top-left-radius: var(--border-radius--small);
    border-top-right-radius: var(--border-radius--small);
    border-bottom-left-radius: var(--border-radius--small);
    border-bottom-right-radius: var(--border-radius--small);
    background-color: var(--base-color-brand--black);
    transition-property: all;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(.19, 1, .22, 1);
    color: var(--text-color--text-alternate);
    font-weight: 500;
    text-align: center;
    letter-spacing: -0.02em;
    text-decoration: none;
  }

  .w-richtext a strong {
    font-weight: 500 !important;
  }

  /* Hover state for rich buttons */
  .w-richtext a:has(strong):hover {
    border-top-color: var(--border-color--border-primary);
    border-right-color: var(--border-color--border-primary);
    border-bottom-color: var(--border-color--border-primary);
    border-left-color: var(--border-color--border-primary);
    background-color: var(--background-color--background-alternate);
    opacity: 0.8;
    color: var(--text-color--text-alternate);
  }
  
  .w-richtext p:has(a strong) {
  	opacity: 1;
  }

  /* Easy Bold Italic highlight style for all headings, add styles here for client-friendly highlights 
  :is(h1, h2, h3, h4, h5, h6, [class*="heading-style"]) :is(strong:has(em), strong em) {
    color: inherit;
    font-style: italic;
    font-weight: 600;
  }
  */

  .social-links_group {
    display: flex !important;
  }

  .intro_video-embed:hover .is-play-icon, .video-lightbox-link:hover [class*="icon"] {
    transform: scale(1.15);
  }

  .sermons_lightbox:hover .sermons_thumbnail {
    transform: scale(1.05);
  }

  html.wf-design-mode .swiper-wrapper {
    overflow: auto;
  }

  .swiper-wrapper {
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none; 
  }

  .swiper-wrapper::-webkit-scrollbar {
    display: none;
  }

  .g-side-nav_link:hover .g-side-nav_link-dot {
    transform: scale(1.15);
    opacity: 1;
  }

  .g-side-nav_link.w--current .g-side-nav_link-dot {
    transform: scale(1);
    width: 80%;
    box-shadow: inset 0 0 0 0.125rem var(--base-color-brand--black);
    opacity: 1;
  }

  .g-side-nav_link.w--current .g-side-nav_link-text {
    opacity: 1;
  }

  .wf-design-mode .padding-global.is-g-section {
    position: relative !important;
  }

